@model IEnumerable<WebApp.Models.PostMV>

@{
    if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create"><button class="btn btn-primary">Add new post</button></a>
        </p>
    }

    if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning">Login to add, edit and delete posts !!!</div>
    }
}
<div>
    @foreach (var item in Model)
    {
        <a style="text-decoration:none" href="@Url.Action("Index", "Reply", new { id = item.Id })">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                    <div class="d-flex justify-content-between">
                        <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.AuthorNickname)</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.Posted)</h6>
                    </div>
                    <p class="card-text font-color-black">   @Html.DisplayFor(modelItem => item.Description)</p>




                    @{
                        if (User.Identity.Name == item.AuthorNickname)
                        {
                            <a href="@Url.Action("Edit", "Post", new { id = item.Id })">
                                <button type="button" class="btn btn-primary">Edit Post</button>
                            </a>

                            if (!User.IsInRole("moderator"))
                            {
                                <a href="@Url.Action("Delete", "Post", new { id = item.Id })">
                                    <button type="button" class="btn btn-primary">Delete Post</button>
                                </a>


                            }

                        }
                        if (User.IsInRole("moderator"))
                        {
                            <a href="@Url.Action("Delete", "Post", new { id = item.Id })">
                                <button type="button" class="btn btn-primary">Delete Post</button>
                            </a>
                        }
                    }
                </div>
            </div>
        </a>
        <br>


    }
</div>

