@model IEnumerable<WebApp.Models.UserMV>

<div>

    @{
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="alert alert-warning" style="margin-left: auto; margin-right: auto;">Only logged in users can edit their accounts</div>
        }
    }

    @foreach (var item in Model)
    {

<div class="card border-primary " style="border-width:medium; border-radius: 10px;
                                margin-left: auto; margin-right: auto;
                                margin-bottom: 10px;width: 100%">
    <div class="card-body">
        <h3 class="card-title text-primary" > @Html.DisplayFor(modelItem => item.Username)</h3>
        <div class="d-flex justify-content-between">
            <h6 class="card-text mb-2" style="color:black;"> Email:  @Html.DisplayFor(modelItem => item.Email)</h6>
            <h6 class="card-text mb-2" style="color:black;"> Joined in:  @Html.DisplayFor(modelItem => item.Date)</h6>
        </div>

        <h6 class="card-text text-primary"><span style="color:black;">Birthday:</span>   @Html.DisplayFor(modelItem => item.Birthday)</h6>

    </div>

    @if (User.Identity.Name == item.Username || User.IsInRole("admin"))
    {
<div style="margin-right:20px; margin-bottom: 10px;">
    <a  class="text-primary" href="@Url.Action("Edit", "User", new { id = item.DetailsId })">
        <button type="button" class="btn bg-primary text-white">Edit Details</button>
    </a>
</div>
    }
</div>





    }
</div>